@tailwind base;
@tailwind components;
@tailwind utilities;

#appList {  
  @apply flex flex-col items-center;
}

#thTitle {
  width: 10%
}

#thDescription {
  width: 20%
}

#thExtract {
  width: 55%
}

#thLink {
  width: 15%
}

#wikiList {
  margin-bottom: 1.5rem;
}

input {
  color: #171717;
}

button {
  background-color: #bebebe;
  color: #171717;
  min-width: 5rem;
  margin: 1rem;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}
